In [3]:
import numpy as np
import pandas as pd

columns=["pickup_datetime","dropoff_datetime","pickup_longitude","pickup_latitude","dropoff_longitude","dropoff_latitude"]

In [72]:
columns=[' dropoff_datetime',' pickup_datetime',' pickup_longitude', ' pickup_latitude', ' dropoff_longitude',
       ' dropoff_latitude']

In [28]:
time_list=list(pd.date_range('2013-08-01 00:00:00','2013-08-31 12:00:00',freq='3h').values)
time_list.append(np.datetime64('2013-09-01T00:00:00.000000000'))
latitude_list=np.arange(4050,4150,1)
longitude_list=np.arange(-7350,-7450,-1)
time_outcome=pd.DataFrame(np.zeros((1,len(time_list))),columns=time_list)

In [5]:
def aggregate_time(outcome,df1,time_list):
    df=df1[columns]
    for index,time in enumerate(time_list):
        if(index<len(time_list)-1):
            filter = (pd.to_datetime(df[" pickup_datetime"])>time_list[index]) & (pd.to_datetime(df[" pickup_datetime"])<time_list[index+1])
        else:
            filter=pd.to_datetime(df[" pickup_datetime"])>time_list[index]
        outcome[time]=len(df[filter])
    return outcome

In [78]:
input = pd.read_csv('/Users/zhangzhihao/Desktop/html/big homework/trip_data_8.csv', chunksize=1000000,low_memory=False)
for i in input:
    chunk = aggregate(time_outcome,i,time_list)# 进行一些操作
    chunk.to_csv('/Users/zhangzhihao/Desktop/html/big homework/time_output.csv', mode='a', header=False)

In [53]:
def aggregate_geo(outcome,df1):
    df=df1[columns1]
    for row in list(df.index):
        lat=int(df.ix[row,' pickup_latitude']*100)
        lon=int(df.ix[row,' pickup_longitude']*100)
        if((lat in latitude_list)and(lon in longitude_list)):
            outcome.ix[lat,lon]+=1
    return outcome

In [36]:
columns1=[' pickup_longitude', ' pickup_latitude', ' dropoff_longitude',
       ' dropoff_latitude']

In [55]:
geo_outcome=pd.DataFrame(np.zeros((len(latitude_list),len(longitude_list))),columns=longitude_list,index=latitude_list)

In [9]:
import numpy as np
import pandas as pd
reader=pd.read_csv("/Users/zhangzhihao/Desktop/html/big homework/trip_data_8.csv",iterator=True,low_memory=False)
loop = True
chunkSize = 100000
chunks = []
while loop:
    try:
        chunk = reader.get_chunk(chunkSize)
        chunks.append(chunk)
    except StopIteration:
        loop = False
        print ("Iteration is stopped.")
df = pd.concat(chunks, ignore_index=True)

Iteration is stopped.

In [42]:
df_test=df.ix[10:20,columns1]
df_test

     pickup_longitude   pickup_latitude   dropoff_longitude   dropoff_latitude
10         -73.972847         40.793156          -73.964058          40.799034
11         -73.996498         40.742821          -74.001961          40.732552
12         -74.004684         40.746986          -73.951416          40.710934
13         -73.967293         40.772285          -73.983322          40.765354
14         -73.952408         40.784161          -73.971863          40.754349
15         -73.991440         40.749969          -73.970551          40.762390
16         -73.980835         40.730640          -74.006462          40.741478
17         -74.003204         40.726990          -74.016174          40.710190
18         -73.918129         40.735394          -73.992760          40.665665
19         -73.979897         40.745674          -74.435204          40.553726
20         -73.945404         40.807911          -73.991592          40.757900

In [56]:
input = pd.read_csv('/Users/zhangzhihao/Desktop/html/big homework/trip_data_8.csv', chunksize=1000000,low_memory=False)
for i in input:
    aggregate_geo(geo_outcome,i)

In [59]:
geo_outcome.to_csv("/Users/zhangzhihao/Desktop/html/big homework/geo_outcome.csv")

In [62]:
latitudes=list(latitude_list/100)
longitudes=list(longitude_list/100)

In [64]:
geo_outcome.columns=longitudes
geo_outcome.index=latitudes

In [66]:
geo_outcome.to_csv("/Users/zhangzhihao/Desktop/html/big homework/geo_outcome.csv")